<div class="container">
  <div class="jumbotron">
    <h3>UserIDs to FirstName</h3>
    <div class="row">
     
        <div class="col text-center">
          <textarea style="min-width: 100%" rows="13" [(ngModel)]='inputnames' > </textarea>
          <button type="button" class="btn btn-primary" (click)="onConvert()">Convert</button>

        </div>
        <div class="col text-center">
          <textarea style="min-width: 100%" rows="13" [(ngModel)]='outputnames'> </textarea>
          <button type="button" class="btn btn-primary" (click)="onCopy()">Copy</button>
        </div>
      
    </div>
  </div>
</div>
